<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @commentaire.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @commentaire.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @commentaire.email %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @commentaire.lastname %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @commentaire.published_at %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @commentaire.blog_id %>
</p>

<%= link_to 'Edit', edit_commentaire_path(@commentaire) %> |
<%= link_to 'Back', commentaires_path %>
