

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
 <%= f.submit 'changez password' %>
<% end %>