<h1>Reset Password</h1>

<%= form_tag password_resets_path, :method => :post do %>

    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
    <%= submit_tag "Reset Password" %>

<% end %>