<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @blog.published_at %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @blog.draft %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<div>
  <h6> add a comment</h6>

  <%= render 'form_commentaires' %>
</div>
<% @blog.commentaires.order(published_at: :desc).each do |commentaire| %>
  <ul>
    <li>
      <%=commentaire.name %>
    </li>
    <li>
      <%=commentaire.lastname %>
    </li>
    <li>
      <%=commentaire.published_at %>
    </li>
    <li>
      <%=commentaire.content %>
    </li>
  </ul>
<% end %>