<%= form_for(:session, url: login_path) do |f| %>
  <%= f.email_field :email, :placeholder => 'Email' %>
  <%= f.password_field :password, :placeholder => 'Mot de passe' %>
  <%= f.submit 'se connecter' %>
<%= link_to 'mdp oublié ?', new_password_reset_path %>
<% end %>
