<%= form_with(model: @commentaire, local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.hidden_field :published_at, value: DateTime.current.to_s(:db)  %>
  </div>
  <div class="field">
    <%= form.hidden_field :blog_id, value: @blog.id%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>